@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Playwrite+DE+Grund:wght@100..400&family=Quicksand:wght@300..700&display=swap');

:root{
    --Playfair :'Playfair Display', serif;
    --Quicksand:'Quicksand', sans-serif;
    --Roboto: 'Roboto', sans-serif;
    --dark: #3c393d;
    --blue: #2684b6;
    --exDark: #2b2b2b;
    --gray :#eeeeee;

}

*{
    padding: 0;
    margin: 0;
    font-family: var(--Quicksand);
}

body{
    line-height: 1.4;
    color: var(--dark);
    overflow-x: hidden;
}

img{
    width: 100%;
    display: block;
}

.container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1.2rem;
    
}

/* Header */
header{
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),  url(gambar/background_1.png) center/cover no-repeat fixed;
    display: flex;
    flex-direction:column;
    justify-content: stretch;
}

.user-box{
    transform: translate(43%);
}
.user-box img {
    width: 15%;
    height: 15%;
    object-fit: cover;
    border-radius: 50%;
  }

.navbar{
    background: rgba(0,0,0,0.6);
    padding: 1.2rem;
}

.navbar-brand{
    color: #fff;
    font-size: 2rem;
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: var(--Playfair);
    letter-spacing: 1px;
}

.navbar-nav{
    padding: 0.8rem 0 0.2rem 0;
    text-align: center;
}

.navbar-nav a{
    text-transform: uppercase;
    font-family: var(--Roboto);
    letter-spacing: 1px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 0.4rem 0.1rem;
    letter-spacing: 3px;
    transition: opacity 0.5s ease;
}

.navbar-nav a:hover{
    opacity: 0.7;
}

.banner{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.banner-title{
    font-size: 3rem;
    font-family: var(--Playfair);
    line-height: 1.2;
}

.banner-title span{
    font-family: var(--Playfair);
    color: #5d5b5b;
}

.banner p{
    padding: 1rem 0 2rem 0;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-family: var(--Roboto);
    font-weight: 300;
    word-spacing: 2px;
}

.banner form{
    background: #fff;
    border-radius: 2rem;
    padding: 0.6rem 1rem;
    display: flex;
    justify-content: space-between;
}

.search-input{
    font-family: var(--Roboto);
    font-size: 1.1rem;
    width: 100%;
    outline: 0;
    padding: 0.6rem 0;
    border: none;
}

.search-input::placeholder{
    text-transform: capitalize;
}

.search-btn{
    width: 40px;
    font-size: 1.1rem;
    color: var(--dark);
    border: none;
    background: transparent;
    outline: 0;
    cursor: pointer;
}


/* title */
.title{
    position: relative;
}
.title > h2{
    font-size: 1rem;
    font-family: var(--Playfair);
    text-align: center;
    text-transform: capitalize;
    font-weight: 900;
    color: var(--exDark);
}
.title div{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    width: 100%;
    transform: translate(-50%, -50%);
}

.container{
    width: 90vw;
    margin: 0 auto;
}
/*resume*/
.resume{
    padding: 4.5rem;
    background: #f7f7f7;
    
}
.resume > .text{
    width: 70%;
    margin: 1.5rem auto;
    text-align: justify;
    font-family: var(--Roboto);
    color: #010202;
}
.resume .item{
    padding: 0 2.5rem;
    margin: 2rem;
    border-left: 1px solid var(--dark);
    position: relative;
    background: var(--gray);
}
.resume .item > span{
    background: var(--blue);
    border-radius: 15px;
    padding: 0.25rem 0.7rem;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 600;
    font-family: var(--Roboto);
}
.resume .item h2{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2rem;
    font-family: var(--Playfair);
}
.resume .item h2 span{
    font-size: 1rem;
    color: #010202;
}
.resume .item .text{
    font-size: 1rem;
    padding-bottom: 0;
    font-family: var(--Roboto);
    text-align: justify;
}
.resume .icon{
    position: absolute;
    top: 0;
    width: 50px;
    height: 50px;
    background: var(--blue);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -25px;
}
/*skill*/
.skills{
    padding: 4.5rem;
    background: #f7f7f7;
}
.skills > .text{
    width: 70%;
    margin: 1.5rem auto;
    text-align: center;
    font-family: var(--Roboto);
}
.skills .row{
    margin: 1rem 0;
}
.skills .item{
    padding: 0.5rem 0;
    margin: 0.3rem 0;
}
.skills .item-text{
    display: flex;
    justify-content: flex-start;
    font-weight: 600;
    font-size: 1.3rem;
    position: relative;
    font-family: var(--Playfair);
}
.skills .item-text span:last-child{
    position: absolute;
}
.skills .item-text .w-90{
    margin-left: 85%;
}
.skills .item-text .w-75{
    margin-left: 70%;
}
.skills .item-text .w-85{
    margin-left: 80%;
}
.skills .item-text .w-80{
    margin-left: 75%;
}
.skills .item-text .w-60{
    margin-left: 55%;
}
.skills .item-text .w-68{
    margin-left: 63%;
}
.progress{
    margin: 0.8rem 0;
    border-radius: 10px;
    height: 16px;
    width: 100%;
    background-color: var(--dark);
    overflow: hidden;
}
.progress-bar{
    background: var(--blue);
    height: 100%;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.progress-bar.w-90{
    width: 90%;
}
.progress-bar.w-75{
    width: 75%;
}
.progress-bar.w-85{
    width: 85%;
}
.progress-bar.w-80{
    width: 80%;
}
.progress-bar.w-60{
    width: 60%;
}
.progress-bar.w-68{
    width: 68%;
}
/*service*/
.services{
    padding: 4.5rem;
    background: #f7f7f7;
}
.services > .text{
    width: 70%;
    margin: 1.5rem auto;
    text-align: center;
    font-family: var(--Roboto);
}
.services .item{
    text-align: center;
    padding: 1.5rem 0 4rem 0;
    background:var(--gray);
    margin: 1.5rem 0;
    cursor: pointer;
    transition: var(--transition);
}
.services .item span{
    font-size: 5rem;
    color: var(--blue);
}
.services .item h2{
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 3px;
    position: relative;
    font-family: var(--Playfair);
}
.services .item h2::after{
    content: "";
    position: absolute;
    bottom: 0;
    background: var(--blue);
    width: 50px;
    height: 0.5px;
    left: 50%;
    transform: translateX(-50%);
}
.services .item:hover{
    background: var(--blue);
}
.services .item:hover span{
    color: #fff;
}
.services .item:hover h2{
    color: var(--exDark);
}
.services .item:hover h2::after{
    background: var(--exDark);
}

/*footer*/
footer {
    width: 100%;
    padding: 2rem 0;
    margin: 0;
    background: var(--exDark);
    color: #fff;
    text-align: center;
}


.sosial-links{
    display: flex;
    justify-content: center;
    margin-bottom: 1.4rem;
}

.sosial-links a{
    border: 2px solid #fff;
    color: #fff;
    display: block;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
    margin: 0 0.3rem;
    transition: all 0.5 ease;
}
.about-content img{
    padding-top: 4rem;
}
.sosial-links a:hover{
    background: #fff;
    color: var(--exDark);
}

.footer span{
    margin-top: 1rem;
    display: block;
    font-family: var(--Playfair);
    letter-spacing: 2px;
}

/*media queries*/
@media screen and (min-width: 500px){
    .title > h2{
        font-size: 4rem;
    }
    .title div h2{
        font-size: 3rem;
    }
}

@media screen and (min-width: 540px){
    .navbar-nav a{
        padding-right: 1.2rem;
        padding-left: 1.2rem;
    }
    .banner-title{
        font-size: 5rem;
    }
    .banner form{
        margin-top: 1.4rem;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (min-width: 768px){
    .navbar .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .search-input{
        padding: 0.8rem 0;
    }
     /* resume page */
     .resume .row{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    /* services page */
    .services .row{
        display: flex;
        flex-wrap: wrap;
    }
    .services .item{
        flex: 0 0 calc(50% - 2rem);
        margin: 1rem;
    }
    /* skills page */
    .skills .row{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
    }
  
}
@media screen and (min-width: 992px){
    .container{
        width: 88vw;
    }
    .services .item{
        flex: 0 0 calc(33.33% - 2rem);
    }
}
@media screen and (min-width: 1200px){
    .container{
        width: 85vw;
    }
}




/* #### Media Queries #### */




